.title {
  width: 138px;
  height: 44px;
  left: 120px;
  top: 191px;

  /* Headings/H2/Bold */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;

  color: #000000;
  padding-left: 50px;
}

.desc {
  width: 1248px;
  height: 72px;
  left: 120px;
  top: 260px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  padding-left: 50px;
}
.eksplor {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  color: #000000;
  text-align: center;
}
.div-button {
  padding-bottom: 200px;
  text-align: center;
}
.button {
  width: 191px;
  height: 46px;

  /* Copal 2 / Blue / 02 */

  background: #023e8a;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  /* Text / White */

  color: #fdfdfd;
  text-align: center;
  cursor: pointer;
}

.img {
  position: absolute;
  width: calc(100vw - 86.5px);
  margin: 0;
  z-index: -2;
}
